a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header{
    display: block;
}
.container-custom{
    width: 1120px;
    display: block;
    margin: 0px auto;
    overflow: hidden;
}

.row-custom{
    display: block;
}
.logo-wrap{
    float: left;
}
.nav-custom{
    text-align: center;
    padding-top: 25px;
    float: right;
}
.nav-itemwrap{
list-style-type: none;
margin: 0;
padding: 0;
}
.nav-item{
    display: inline;
    margin-right: 10px;
}
.nav-link{
    color: black;
}
.hero-banner{
    background-color:unset;
    padding-top: 40px;
    width: auto;
}
.hero-wrap{
    padding: 10px 0px;
}
.hero-title{
    font-size: 40px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
}
.hero-caption{
    font-size: 18px;
}
.hero-cta{
    float: left;
    background-color: palevioletred;
    border-style: none;
    border-radius: 12px;
    width: 150px;
    padding: 12px;
    text-align: center;
       
}
.btn-cta{
    color: black;
    
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-8{
    width: 66.66%;
    float: left
}
.hero-img{
    text-align: right;
}
.hero-img img{
    width: fit-content;
    
}
.hero-container{
    background-color:unset;
    padding-top: 40px;
    width: auto;
}
.col-12{
    width: 33.33%;
    float: right;
}
.col-10{
    width: 66.66%;
    float: left;
}
.btn-1{
    float: left;
    background-color: palevioletred;
    border-style: none;
    border-radius: 12px;
    width: 150px;
    padding: 12px;
    text-align: center;
}
.hero-wrapper{
    padding: 10px 0px;
}
.hero-h2{
    font-size: 40px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
}
.hero-text{
    font-size: 18px;
}
.link-1{
    color: black;
}
.f-h1{
    text-align: left;
}
.menu-btn{
    float: left;
    padding: 20px 0;
}
.m-btn{
    width: fit-content;
    padding: 10px 25px;
    border-style: none;
}
.full-btn{
    float: right;
    padding: 20px 0;
}
.active{
    background-color: palevioletred;
}
a .active{
    color: white;
}
.m-link{
    color: black;
}
.si-btn{
    padding: 10px 25px;
    background-color: palevioletred;
    border-style: none;
}
.si-link{
    color: black;
}
.col-xs-3{
    width: 25%;
    float: left;
    position: relative;
    
}
.col-xs-6{
    width: 100%;
    display: inline-block;
}
.row{
    padding: 10px;
}
.img-col{
    width: 90%;
    height: 150px;
}
.img-btn{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 80%;
    height: 70px;
    opacity: 0.8;
}
.col-div{
    float: left;
    width: 33.33%;
    text-align: center;
}
.row-div{
    padding-top: 10px;
}
.col-foot{
    float: left;
    text-align: center;
    width: 33.33%;
}
.foot-div{
    padding: 10px;
}
.footer{
    background-color: pink;
    color: black;
    padding: 10px;
}
ul li{
    list-style-type: none;
    text-align:center;
}
.last-div{
    text-align: center;
    background-color: pink;
}
.h2{
    text-align: center;
}
.book-div p{
    text-align: center;
}
.bn-div{
    text-align: center;
    padding: 10px;
}
.bn-link{
    color: black;
    padding: 15px;
}
.bn-btn{
    background-color: palevioletred;
    border-style: none;
    padding: 17px;
}
.hea-2{
    text-align: center;
    color: white;
}
.hero-book{
    background-image: url(images/goldie-ft-blog1117.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1120px;
    display: block;
    margin: 0px auto;
}
.i-link{
    color: black;
}
.sec-div{
    text-align: center;
}




