*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

body{
    font-family:sans-serif;

}

.banner{
    min-height:100vh;
    background-color: #0000;
    background-image: url("images/reserve-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#000;
    padding-bottom: 20px;
}

.card-container{
    display: grid;
    grid-template-columns:400px 400px;
}

.card-img{
    background: url("images/reserve-img.jpg") center/cover no-repeat;

}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;

}
.card-content{
    background: #fff;
    height: 250px;

}

.card-content h3{
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 25px;
    font-weight: 400;

}
.form-row{
display: flex;
width: 90%;
margin: 0 auto;
}

form select, form input{
    display: block;
    width: 350px;
    margin: 15px 12px;
    padding: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-weight: 300;

}
form input[type = text], form input[type = number], 
form input::placeholder, select{
    color: #000;
}
form input[type = submit]{
    color: #fff;
    background: palevioletred;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
} 
form input[type = submit]::hover{
    opacity:0.9;
}
.heading{
    display: block;
}
.container-custom{
    width: 1120px;
    display: block;
    margin: 0px auto;
    overflow: hidden;
}
.row-custom{
    display: block;
}
.logo-wrap{
    float: left;
}
.nav-custom{
    text-align: center;
    padding-top: 25px;
    float: right;
}
.nav-itemwrap{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.nav-item{
    display: inline;
    margin-right: 10px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: palevioletred;
}
.col-foot{
    float: left;
    text-align: center;
    width: 33.33%;
}
.foot-div{
    padding: 10px;
}
.footer{
    background-color: pink;
    color: black;
    padding: 10px;
}
.last-div{
    text-align: center;
    background-color: pink;
}
@media(max-width:992px){
    .card-container{
        grid-template-columns: 100%;
    }
    .card-img{
        height: 330px;
    }
}